.grid{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    border: solid black;
}

.block{
    width: 10px;
    height: 10px;
}

.snake{
    background-color: blue;
}

.apple{
    background-color: red;
}